@import '../styles/index.scss';

.title {
    font-size: 2.5rem;
    color: var(--textNormal);
}

.post-info {
    color: var(--lightText);
    display: flex;
    // align-items: center;
    font-size: 0.9rem;
    margin-bottom: 0;
    // margin-bottom: 3rem;
}

.author-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
}

.cover-image {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;

    @media screen and (max-width: 500px) {
        height: 200px;
    }

    @media screen and (min-width: 501px) and (max-width: 750px) {
        height: 300px;
    }

    @media screen and (min-width: 751px) {
        height: 400px;
    }
}

.cover-image-placeholder {
    width: 100%;
    height: 400px;
    margin: 2rem 0;
}
