.posts {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.cover-image {
    margin: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cover-text {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    padding: 1rem;
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.75rem;
    z-index: 1;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);

}

.post-link {
    text-decoration: none;
    position: relative;
}

.read-time {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-size: 0.8rem;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.post-content {
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;

    h2 {
        color: var(--textNormal);
        text-decoration: none;
        border-bottom: 0 !important;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    p {
        font-size: 0.9rem;
        margin-bottom: 0;
        color: var(--textNormal);
    }
}

.post-date {
    font-size: 0.8rem !important;
    color: var(--lighterText) !important;
    margin-bottom: 0.5rem;
}

.post {
    margin: 1rem;
    display: flex;
    background: var(--secondaryBg);
    border-radius: 8px;
    flex-direction: column;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 500px) {
        width: 100%;
        margin: 1rem 0;
    }

    @media screen and (min-width: 501px) and (max-width: 750px) {
        width: 100%;
    }

    @media screen and (min-width: 751px) {
        width: 50%;
        flex: 1 0 40%;
    }

    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);

        p[class*="post-date-"] {
            max-height: 30px;
            margin-top: 1rem;
        }

        div[class*="read-time-"] {
            opacity: 1;
        }

    }
}

.pageButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    a {
        margin: 0 0.5rem;
    }
}