@import "./index.scss";

@mixin gradient-text {
    color: #6e3a6c;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#e48a28),
        color-stop(50%, #cc4856),
        to(#6e3a6c)
    );
    background: linear-gradient(
        to right,
        #e48a28 0%,
        #cc4856 50%,
        #6e3a6c 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link {
    @include link();
}

.container {
    h1 {
        color: var(--lighterText);

        @media screen and (max-width: 500px) {
            font-size: 2rem;
        }

        @media screen and (min-width: 501px) and (max-width: 750px) {
            font-size: 3rem;
        }

        @media screen and (min-width: 751px) {
            font-size: 3rem;
        }
    }

    h2 {
        color: var(--textNormal);

        @media screen and (max-width: 500px) {
            font-size: 1.8rem;
        }

        @media screen and (min-width: 501px) and (max-width: 750px) {
            font-size: 2.2rem;
        }

        @media screen and (min-width: 751px) {
            font-size: 2.5rem;
        }
    }

    h3 {
        color: var(--lightText);

        @media screen and (max-width: 500px) {
            font-size: 1.5rem;
        }

        @media screen and (min-width: 501px) and (max-width: 750px) {
            font-size: 1.8rem;
        }

        @media screen and (min-width: 751px) {
            font-size: 1.8rem;
        }
    }
}

.post-content {
    a {
        @include link();
    }
    img {
        border-radius: 8px;
    }
    pre {
        // background: var(--secondaryBg) !important;
        border-radius: 8px;
        -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
        margin: 2rem 0;
        font-size: 0.9rem;
        code {
            padding : 0 !important;
            &.language-text {
                background: var(--secondaryBg) !important;
            }
        }
    }

    pre {
        // background: var(--secondaryBg) !important;
        &.language-text {
            background: var(--secondaryBg) !important;
            code {
                background: var(--secondaryBg) !important;
            }
        }
        border-radius: 0.5rem;
        transition: border-radius 0.5s;
    }

    del {
        color: var(--lighterText);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--textNormal);
        position: relative;
        transition: 0.5s all ease-in-out;

        &:before {
            transition: opacity 0.5s ease-in-out;
            position: absolute;
            opacity: 0;
            @include gradient-text;
        }
    }

    h1 {
        margin-top: 4rem;
    }

    h1:hover,
    h2:hover,
    h3:hover,
    h4:hover,
    h5:hover,
    h6:hover {
        color: var(--textNormal);

        &:before {
            opacity: 1;
        }
    }

    h1 {
        &:hover {
            padding-left: 35px;
        }

        &:before {
            margin-left: -35px;
            content: "#";
        }
    }

    h2 {
        &:hover {
            padding-left: 45px;
        }

        &:before {
            margin-left: -45px;
            content: "##";
        }
    }

    h3 {
        &:hover {
            padding-left: 55px;
        }

        &:before {
            margin-left: -55px;
            content: "###";
        }
    }

    h4 {
        &:hover {
            padding-left: 50px;
        }

        &:before {
            margin-left: -50px;
            content: "####";
        }
    }

    h5 {
        &:hover {
            padding-left: 52px;
        }

        &:before {
            margin-left: -52px;
            content: "#####";
        }
    }

    h6 {
        &:hover {
            padding-left: 55px;
        }

        &:before {
            margin-left: -55px;
            content: "######";
        }
    }

    p {
        color: var(--slightlyLighterText);
        strong, em {
            color: var(--textNormal);
        }
    }

    ol, ul {
        color: var(--slightlyLighterText);
    }

    code {
        padding: 4px 8px !important;

        &:before,
        &:after {
            display: none;
        }
    }

    blockquote {
        border-right: 0;
        border-left-width: 3px;
        border-style: solid;
        border-image: linear-gradient(
                to bottom,
                #e48a28 0%,
                #cc4856 50%,
                #6e3a6c 100%
            )
            1 100%;
        padding-left: 2.5rem;

        &:before {
            margin-left: -2rem;
            content: "\201C";
            font-family: Georgia, serif;
            font-size: 3.5rem;
            font-weight: bold;
            color: var(--lighterText);
            position: absolute;
        }
    }
}

.table {
    tr {
        &:last-child {
            td {
                border: 0;
            }
        }
    }

    td {
        &:first-child {
            font-weight: bold;
        }
        border-color: var(--lighterText);
    }
}

.button {
    display: inline-block;
    border: solid 2px var(--textLink);
    color: var(--textLink);
    padding: 0.5rem 1rem;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background: var(--textLink);
        color: #fff;
    }
}

.monospace {
    font-family: monospace;
}

.center {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.gradientText {
    @include gradient-text();
}

.card {
    background: var(--secondaryBg);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);

    h1 {
        color: var(--textLink);
    }
}

.formFields {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.formField {
    // border: solid red 2px;
    box-sizing: border-box;
    width: 200px;
    padding: 0.5rem;

    @media screen and (max-width: 750px) {
        width: 100%;
    }

    @media screen and (min-width: 751px) {
        width: 50%;
    }


    input {
        border: 0;
        outline: 0;
        border-radius: 0.25rem;
        background: #fff;
        border: solid var(--textLink) 2px;
        padding: .25rem;
        width: 100%;
    }

    span {
        display: block;
        font-size: 0.8rem;
        font-weight: bold;
    }
}
