.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}

.icon-link {
    margin: 1rem 0;
    display: flex;
    font-size: 2.5rem;
    color: #fff;
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--textLink);
    transition: background .3s ease-in-out;


    &:before {
        top: 0;
        left: 0;
        content: ' ';
        position: absolute;
        border-radius: 3rem;
        width: 4rem;
        height: 4rem;
        background: red;
        z-index: -1;
        background: -webkit-gradient(linear, left top, right top, from(#e48a28), color-stop(50%, #cc4856), to(#6e3a6c));
        background: linear-gradient(to right, #e48a28 0%, #cc4856 50%, #6e3a6c 100%);

    }

    &:hover {
        background: transparent;

        // transform: scale(1.1);
        h1 {
            opacity: 1;
        }
    }

}