ul.list {
    > li {
        list-style-type: none;
        margin-left: 1rem;
        &::before {
            position: absolute;
            margin-left: -2rem;
        }
    }
}

.write::before {
    content: "✍️ ";
}
.suggest::before {
    content: "🚩 ";
}
.please::before {
    content: "🙏 ";
}
.shipping::before {
    content: "📦 ";
}
.laptop::before {
    content: "💻 ";
}
.announce::before {
    content: "📣 ";
}

.end-note {
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: 'Parisienne', cursive;
    color: #1c00ad !important;
}
